<%= simple_form_for @record do |f| %>
  <% if f.error_notification %>
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= f.error_notification %>
    </div>
  <% end %>

  <%= f.input :doctor, collection: Doctor.all %>
  <%= f.input :patient, collection: Patient.all %>
  <%= f.input :text %>

  <%= f.button :submit %>

<% end %>
