<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @agenda.date %>
</p>

<p>
  <b>Doctor:</b>
  <%= @agenda.doctor.name %>
</p>

<p>
  <b>Attendant:</b>
  <%= @agenda.attendant.name %>
</p>

<p>
  <b>Patient:</b>
  <%= @agenda.patient.name %>
</p>


<%= link_to 'Edit', edit_agenda_path(@agenda) %> |
<%= link_to 'Back', agendas_path %>
