<h1>Listing handbooks</h1>

<table class="table">
  <tr>
    <th>Crm</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @handbooks.each do |handbook| %>
    <tr>
      <td><%= handbook.crm %></td>
      <td>
        <%= link_to t('.show', :default => t("helpers.links.show")),
                      handbook, :class => 'btn btn-mini' %>
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_handbook_path(handbook),
                      :class => 'btn btn-mini' %>
        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      handbook_path(handbook),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
      </td>
    </tr>
  <% end %>
</table>

<br />
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_handbook_path,
            :class => 'btn btn-primary' %>
