<%= simple_form_for @doctor do |f| %>
  <% if f.error_notification %>
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= f.error_notification %>
    </div>
  <% end %>

  <%= f.input :speciality %>
  <%= f.input :crm %>

  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.input :name %>
  <%= f.input :cpf %>
  <%= f.input :phone %>
  <%= f.input :birthday, class: :datepicker %>

  <%= f.button :submit %>

<% end %>