<p id="notice"><%= notice %></p>

<h3>Doctor</h3>

<p>Name: <%= @doctor.name %></p>
<p>CRM: <%= @doctor.crm %></p>

<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
